body {
    padding: 10% 5%;
}

h1, p, a {
    font-family: sans-serif;
}

.clickable {
    background-color: #aaaaaa;
    height: 100px;
    width: 200px;
    margin: 10px;
    padding: 10px 30px;
}

